[default]
# Listen or connect on this port.
port = 5000
timeout = 5
mtu = 1350
max_tunnels_num = 1

# Syslog facility
log = syslog

# Path to various programs
ppp = /usr/sbin/pppd
ifconfig = /sbin/ifconfig
ip = /sbin/ip

# UDP|TCP protocol
proto = tcp

[service-1]
passwd = 9zeonjc088vi3j66hyldixkus32q80e9q36r0d7due85ceetiv
device = tun666
ipfrom = 10.0.0.2
ipto = 10.0.0.1

[service-2]
passwd = 9zeonjc088vi3j66hyldixkus32q80e9q36r0d7due85ceetiv
device = tun666
ipfrom = 10.0.0.2
ipto = 10.0.0.1

