[default]
# Listen or connect on this port.
port = 5000
timeout = 5

max_tunnels_num = 20;
# Syslog facility
syslog = daemon

# Path to various programs
ppp = /usr/sbin/pppd
ifconfig = /sbin/ifconfig
route = /sbin/route
firewall = /sbin/iptables
ip = /usr/sbin/tc

# UDP|TCP protocol
proto tcp

[service-1]
passwd = 9zeonjc088vi3j66hyldixkus32q80e9q36r0d7due85ceetiv
device = tun666
up = ifconfig tun666 10.0.0.1 pointopoint 10.0.0.2  mtu 1350 up
down = ifconfig tun666 down

[service-2]
passwd = 9zeonjc088vi3j66hyldixkus32q80e9q36r0d7due85ceetiv
device = tun666
up = ifconfig tun666 10.0.0.1 pointopoint 10.0.0.2  mtu 1350 up
down = ifconfig tun666 down

